# Core Libraries
pandas~=2.3.1
numpy~=2.3.1
yfinance
pyxirr~=0.10.6
pandas-stubs
openpyxl

# Web App & Visualization
streamlit
matplotlib~=3.10.3
plotly

# Development Tools
ruff
ipykernel
basedpyright
pyright
ipython~=9.4.0
overrides~=7.7.0